

.application.properties


*.class


target/
!pom.xml  
!mvnw 
!mvnw.cmd  
!/.mvn/wrapper/  

# Ignore IDE settings
.idea/
.classpath
.project
.settings/
*.iml

# Ignore logs & temp files
*.log
*.tmp

#
!mvnw
!mvnw.cmd
!/.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties


frontend-react/node_modules/

frontend-react/build/

frontend-react/npm-debug.log
frontend-react/yarn-debug.log
frontend-react/yarn-error.log
frontend-react/.eslintcache
frontend-react/.parcel-cache/


frontend-react/.env


uploads/*
!uploads/.gitkeep  # ✅ Keep empty uploads folder in Git


.DS_Store
Thumbs.db
.vscode/
*.swp
*.swo
